<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>{$title}</title>
</head>
<body>
    
   {include file="$content"}
   
   
{foreach key=cid item=con from=$result}
{*<a href="kontact.php?contact_id={$cid}">{$con.name} - {$con.nick}</a><br />*}
{$con.PNR} - {$con.VORNAME}- {$con.NAME}- {$con.LOHNSTUFE}<br>
{/foreach}
</body>
</html>